In [1]:
CREATE DATABASE LIBRARY;

In [2]:
USE LIBRARY;

In [11]:
DROP TABLE BOOKS;

In [13]:
CREATE TABLE AUTHOR(
    NAME VARCHAR(MAX) NOT NULL,
    AID UNIQUEIDENTIFIER PRIMARY KEY
)

In [16]:
INSERT INTO 
    author (name, aid) 
VALUES 
    ('Amit Garg', NEWID()),
    ('Lalit Kumar', NEWID()),
    ('Sharad Kumar Verma', NEWID()),
    ('chetan bhagat', NEWID()),
    ('Amish Tripati', NEWID()),
    ('Robert koyosaki', NEWID()),
    ('Ravibelegere', NEWID())
;

In [18]:
CREATE TABLE BOOKS(
    ISBN VARCHAR(13) NOT NULL PRIMARY KEY,
    TITLE VARCHAR(100) NOT NULL,
    PRICE FLOAT DEFAULT(0) NOT NULL,
    AID UNIQUEIDENTIFIER NOT NULL,
    FOREIGN KEY (AID) REFERENCES AUTHOR(AID)
)

In [20]:
INSERT INTO BOOKS
    (ISBN,TITLE,PRICE,AID)
VALUES
    ('9781623651435','THE IMMORTAL OF MELUHA',250,'252ff8a6-f0ba-4f9a-8ffe-4c28fae33172'),
    ('9789356290792','SCION OF IKSHVAKU',300,'252ff8a6-f0ba-4f9a-8ffe-4c28fae33172'),
    ('9780307292049','THE HITCHHIKERS GUIDE TO THE GALAXY',1000,'f4cb28c0-171d-469a-b4da-6707f3d3e8a2'),
    ('8129104598569','FIVE POINT SOMEONE',550,'69d70fb0-306e-4cbb-b0ec-6af877287f67'),
    ('9788129135537','REVOLUTION 2020',600,'69d70fb0-306e-4cbb-b0ec-6af877287f67'),
    ('9788129115300','2 STATES',450,'69d70fb0-306e-4cbb-b0ec-6af877287f67'),
    ('9788129115355','MATAGATHI',230,'ade5bbee-f07d-4a81-acff-ae986f47a64b'),
    ('9788129115356','SARPA SAMBANDHA',300,'ade5bbee-f07d-4a81-acff-ae986f47a64b');

In [24]:
CREATE TABLE USERS (
    USERID UNIQUEIDENTIFIER PRIMARY KEY,
    USER_NAME VARCHAR(MAX) NOT NULL
);

In [25]:
INSERT INTO users (userid, user_name) VALUES
(NEWID(), 'John Doe'),
(NEWID(), 'Jane Doe'),
(NEWID(), 'Peter Parker'),
(NEWID(), 'Mary Jane Watson'),
(NEWID(), 'Bruce Wayne'),
(NEWID(), 'Clark Kent'),
(NEWID(), 'Diana Prince'),
(NEWID(), 'Arthur Curry'),
(NEWID(), 'Barry Allen'),
(NEWID(), 'Hal Jordan');

In [27]:
CREATE TABLE REVIEWS(
    ISBN VARCHAR(13) NOT NULL,
    COMMENT VARCHAR(MAX),
    Ratings decimal(2,1),
    USERID UNIQUEIDENTIFIER NOT NULL,
    CONSTRAINT chk_Ratings CHECK (Ratings >= 0 AND Ratings <= 5),
    FOREIGN KEY (ISBN) REFERENCES BOOKS(ISBN),
    FOREIGN KEY (USERID) REFERENCES USERS(USERID)

)

In [28]:
INSERT INTO REVIEWS
    (ISBN,COMMENT,RATINGS,USERID)
VALUES
    ('9788129115356','Nice book full of Suspension',5,'41b88e8e-89ad-47f3-88ff-22d0bcbfaebd');

In [3]:
SELECT * FROM AUTHOR;

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'AUTHOR'.